REGEDIT4
 
[HKEY_CLASSES_ROOT\ssh]
 
@="URL:ssh Protocol"
 
"URL Protocol"=""
 
[HKEY_CLASSES_ROOT\ssh\shell]
 
[HKEY_CLASSES_ROOT\ssh\shell\open]
 
[HKEY_CLASSES_ROOT\ssh\shell\open\command]
 
@="\"C:\\YOUR\\HANDLER\\GOES\\HERE.EXE\" \"%1\""